<strong>Olá, {{ student }}</strong>
<p>Seja bem-vindo a nossa academia</p>
<br />
<p>Confira os detalhes da sua matrícula abaixo</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Duração: </strong> {{ duration }} meses <br />
  <strong>Data de término: </strong> {{ endDate }} <br />
  <br />
  <small>Esperamos que aproveite ao máximo</small>
</p>
